<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Wlecom to the Food Market</h1>
    <a href="/food/new">Add New Food</a>
    <a href="/food" class="businesses-index-link">
      <div class="index-link-text">Borwse Food</div>
    </a>
  </body>
</html>
