<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Market</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container center-text">
      <h1>Welcome to the Food Market</h1>

      <div class="btn-group">
        <a href="/food/new" class="btn">Add New Food</a>
        <a href="/food" class="btn">Browse Food</a>
      </div>
    </div>
  </body>
</html>
